$white : #F2F2F2;
$light-gray : #EAEAEA;
$red : #B21303;
$yellow : #FFB900;
$green : #228822;
$blue : #7FBCE4;
$dark-blue : #3c6ca3;
$navy : #2C3548;
$dark-gray : rgb(41, 40, 40);

$team-color-blue : #92C5F7;
$team-color-red : #CEBCF2;
$win-color : #C9E4F7;
$lose-color : #ECC6CD;