$body-width-desktop : 850px;
$body-width-tablet : 650px;
$body-width-mobile : 90vw;



// $champion-image-size-desktop : 60px;
// $champion-image-size-tablet : 45px;
// $champion-image-size-mobile : 30px;