.bans {
    display : flex;
    justify-content: center;
    align-items: center;
    padding : 5px 0;
    .bans__team {
        display : flex;
        column-gap : 10px;
        .banned-champion{
            width : 50px;
            height : 50px;
        }
    }
    p {
        font-size : 12px;
        margin : 0 15px;
    }
}

@include tablet  {
    .bans {
        .bans__team {
            column-gap : 5px;
            .banned-champion {
                width : 40px;
                height : 40px;
            }
        }

    }
}

@include mobile {
    .bans {
        flex-direction: column;
        .bans__team {
            width : 100%;
            justify-content: center;
        }

        p{
            margin : 10px 0;
        }
    }
}