table {
    background-color: gray;
    border-collapse: separate;
    border-spacing: 1.5px;
    .table__empty-body {
        height : 200px;
        display : flex;
        justify-content: center;
        align-items: center;
        background-color: $white;
        .empty-body__text{
            font-size : 16px;
        }
    }
}

td{
    vertical-align:middle;
    text-align: center;
    font-size : 10px;
    padding : 3px;
    p {
        margin-bottom: 3px;
    }
}

@include tablet {
    td{
        padding : 2px 1px;
    }
}

@include mobile {
    td{
        padding : 1px;
    }
}