table {
    background-color: gray;
    border-collapse: separate;
    border-spacing: 1.5px;
}

td{
    vertical-align:middle;
    text-align: center;
    font-size : 10px;
    padding : 3px;
    p {
        margin-bottom: 3px;
    }
}

@include tablet {
    td{
        padding : 2px 1px;
    }
}

@include mobile {
    td{
        padding : 1px;
    }
}