.matches-table {
    .match--win {
        background-color: $win-color;
    }
    .match--lose {
        background-color: $lose-color;
    }
    .matches-table__cell{
        // display : flex;
        // justify-content: center;
        // align-items: center;
        // background-color: orange;
        // vertical-align:middle;
    }
    .match__toggle-btn {
        font-size : 15px;
        color : rgba(0, 0, 0, 0.8);
    }
}
