@import "./MatchRow/MatchRow.scss";

.matches-table{
    width : 100%;
    thead {
        .matches-table__header {
            background-color: $white;
            font-weight: bold;
            padding-top : 5px;
            padding-bottom : 5px;
        }
    }
    tbody {
        td{
            &.team--blue{
                background-color: $team-color-blue;
            }
            &.team--red{
                background-color: $team-color-red;
            }
        }
        .matches-table__footer{
            background-color: $white;
            text-align: end;
            div {
                display : flex;
                justify-content: flex-end;
            }
        }
        .matches-table__fetching-more {
            background-color: $white;
            div {
                padding : 20px 0;
                .fetching-more__image{
                    width : 30px;
                    height : 30px;
                }
            }

        }
    }
}