@import "./SpectatorPlayerRow/spectatorPlayerRow.scss";

.current-match {
    display : flex;
    flex-direction: column;
    row-gap : 1px;
    background-color: gray;
    border : 1px solid gray;
    .current-match__summary {
        background-color : $white;
        padding : 5px 10px;
        .current-match__summary-text {
            font-size : 14px;
            &:not(:last-child)::after{
                content: " | ";
            }
        }
    }
    .current-match__body{
        .current-match__teams{
            display : flex;
            .current-match__team {
                display : flex;
                flex-direction: column;
                width : 100%;
            }
            .current-match__team-seperator {
                width : 100px;
                background-color: $light-gray;
            }
        }
    }
    .current-match__footer{
        background-color : $white;

    }
}

@include tablet {
    .current-match{
        .current-match__body{
            .current-match__teams{
                .current-match__team-seperator{
                    display : none;
                }
            }
        }
    }
}

@include mobile {
    .current-match{
        .current-match__body {
            .current-match__teams{
                flex-direction: column;
            }
        } 
    }
}