.home {
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position : absolute;
    top : 0;
    left : 0;
    right : 0;
    bottom : 0;

    .home__header {
        color : white;
        display : flex;
        justify-content: center;
        align-items: center;
        flex-direction : column;
        margin-bottom : 80px;
        z-index : 1;
        @include mobile {
            margin-bottom : 50px;
        }

        .header__title {
            font-size : 100px;
            margin-bottom : 20px;
            @include mobile {
                font-size : 65px;
            }
        }
    
        .header__subtitle {
            font-family: 'Jua', sans-serif;
            font-size : 20px;
            @include mobile {
                font-size : 14px;
            }
        }
    }

    form.home__form{
        z-index : 1;
        display : flex;
        flex-direction : row;

        @include mobile {
            display : flex;
            flex-direction : column;
        }

        input.home__input {
            width : 350px;
            @include mobile {
                width : 250px;
            }
        }
        button.home__submit {
            @include mobile {
                width : 250px;
                margin-top : 20px;
            }
        }
    }

    .home__bg-image{
        width : 500px;
        position : absolute;
        opacity : 0.7;
        @include mobile {
            width : 200px;
        }
    }
}
