.player__items {
    display: grid;
    grid-template-columns: repeat(4,  calc(var(--champion-image-size) / 2));
    grid-gap : 2px;
    justify-content: center;
    .item-trinket {
        grid-row : 1;
        grid-column: 4;
    }
}