@import "./reset.scss";
@import "./mixins/_mixins.scss";
@import "./fonts.scss";

@import "./input.scss";
@import "./button.scss";
@import "./logo.scss";

//pages
@import "../pages/Home/home.scss";
@import "../pages/Histories/histories.scss";

//components
@import "../components/Layout/layout.scss";
@import "../components/Loader/loader.scss";
@import "../components/Header/header.scss";
@import "../components/StatusMessage/statusMessage.scss";
//유저 프로필
@import "../components/UserProfile/userProfile.scss";
@import "../components/UserProfile/ProfileIcon/ProfileIcon.scss";
@import "../components/UserTier/UserTier.scss";
//현재 진행중인 게임
@import "../components/CurrentMatch/currentMatch.scss";
@import "../components/Player/player.scss";
@import "../components/Bans/bans.scss";
@import "../components/EmptyBlock/emptyBlock.scss";
@import "../components/MatchesTable/matchesTable.scss";

@import "./match.scss";

* {
    box-sizing : border-box;
    font-family: 'Nanum Gothic', sans-serif;
}

body {
    background-color : $blue;
}

a {
    text-decoration: none;
    color : black;
}

.no-drag{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.container {
    min-width : 410px;
    min-height : 100vh;
    padding : 20px;
    position : relative;
}

.text--bold {
    font-weight: bold;
}