$chamion-icon-size : 60px;

.team--blue{
    background-color: $team-color-blue;
}
.team--red{
    background-color: $team-color-red;
}


:root {
    --champion-image-size : 60px;
}

@include mobile {
    :root {
        --champion-image-size : 45px;
    }
}

.icon--small {
    width : calc(var(--champion-image-size) / 2);
    height : calc(var(--champion-image-size) / 2);
}

.player{
    display : flex;
    align-items: center;
    column-gap : 3px;
    .player__champion-image {
        width : var(--champion-image-size);
    }
    .player__text-infos {
        flex-grow: 1;
        display : flex;
        flex-direction: column;
        row-gap : 5px;
        padding-left : 5px;
        .player__text-info {
            font-size : 13px;
            &.player__player-name{
                font-size : 16px;
            }
        }
    }
}

@include tablet {
    .player {
        .player__text-infos{
            .player__text-info {
                font-size : 12px;
                &.player__player-name{
                    font-size : 13.5px;
                }
            }
        }
    }
}