.match-detail-table{
    width : 100%;
    .match-detail-table__header{
        background-color: $white;
        white-space: nowrap;
    }
    .match-detail-table__player{
        &.match-detail-table__player--blue{
            td {
                background-color: $team-color-blue;
            }
            &.match-detail-table__search-target{
                td {
                    background-color: $search-target-player-blue;
                }
            }
        }
        &.match-detail-table__player--red{
            td {
                background-color: $team-color-red;
            }     
            &.match-detail-table__search-target{
                td {
                    background-color: $search-target-player-red;                    
                }
            }   
        }
        .gagebar-container{
            width :100%;
            height : 9px;
            border : 1px solid gray;
            margin-top : 3px;
            &.match-detail-table__damage-dealt{
                .gagebar__filled {
                    background-color: $red;
                }
            }
            &.match-detail-table__damage-taken{
                .gagebar__filled {
                    background-color: $green;
                }
            }
        }
    }
    .match-detail-table__team-summary {
        display : flex;
        justify-content: space-between;
        align-items: center;
        background-color: $white;
        padding : 5px 20px;
        .team-summary__match-result {
            width : 45px;
        }
        .team-summary__team-kda{
            width : 140px;
        }
        .team-summary__team-gold{
            width : 140px;
        }
        .team-summary__objectives {
            display : flex;
            align-items: center;
            justify-content: flex-end;
            .team-summary__objective{
                display : flex;
                align-items: center;
                &:not(:last-child)::after{
                    content : "/";
                    margin : 0 5px;
                }
                .team-summary__objective-icon{
                    width : 25px;
                    height : 25px;
                    margin-right: 5px;
                }
            }
        }
    }
}

@include tablet {
    .match-detail-table {
        .match-detail-table__team-summary {
            .team-summary__objectives{
                .team-summary__objective{
                    .team-summary__objective-icon {
                        display : none;
                    }
                }
            }
        }
    }
}

@include mobile {
    .match-detail-table {
        .match-detail-table__team-summary {            
            .team-summary__team-kda{
                width : 100px;
            }
            .team-summary__objectives{
                .team-summary__objective{
                    .team-summary__objective-icon {
                        width : 15px;
                        height : 15px;
                    }
                }
            }
        }
    }
}