.status-message{
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    padding : 20px 0px;
    .status-message__image {
        width : 250px;
        margin-bottom : 10px;
    }
    .status-message__text{
        font-family: 'Jua', sans-serif;
        font-size : 18px;
        @include mobile {
            font-size : 16px;
            width : auto;
        }
    }
}

@include mobile {
    .status-message {
        .status-message__image {
            width : 150px;
        }
    }
}
